*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: monospace, arial;
    background: #FFA600;
}

section{
    background: #FFA600;
}

/* opening section */

#first{
    height: 100vh;
    display: flex;
    align-items: center;
}

#hello{
    color: #ffc600;
    font-size: 20px;
    display: inline;
}

#welcome{
    width: 75%;
    margin: 0 auto;
    color: white;
    grid-column-start: 1;
    grid-column-end: span 2;
    border-radius: 40px;
    border: black solid 3px;
    align-items: center;
    padding: 5px;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-size: 2vh;
}

/* middle section */

#personal-photo{
    box-sizing: border-box;
    padding: 0;
    height: 0;
    height: 100vh;
}

#containers{
    display: flex;
    align-items: center;
}

/* checkboxes */

.checkbox {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #A77B0E;
    background: #FAE042;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    border: black solid 2px;
    margin: 2px;
}

input[type='checkbox'] {
    display:none;
  } 

.collapsible-content{
    max-height: 0vh;
    overflow: hidden;

    transition: max-height .50s ease-in-out;
}

.collapsible-content p{
    font-size: 2.5vh;
}

/* who checkbox */

#toggle:checked ~ .collapsible-content{
    max-height: 100vh;
}

/* what checkbox */

#toggle-what:checked ~ .collapsible-content{
    max-height: 100vh;
}

/* why checkbox */

#toggle-why:checked ~ .collapsible-content{
    max-height: 100vh;
}


/* next-button */
#next{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 15vh;
    height: 5vh;
    font-family: monospace, arial;
}

