*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: monospace, arial;
}

/* buttons */
.buttons{
    position: absolute;
    left: 50%;
    width: 35vw; 
    bottom: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    margin-left: -17.5vw;
}

.buttons button{
    width: 15vh;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 2vw;
    padding: 5px 10px 5px 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.6);
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
}

button:focus{
    outline: none;
}


/* rock paper scissors section */

#first{
    background-color:purple;
    padding: 1em;
    min-height: 100vh;
    height: fit-content;
}

#first header{
    width: 90vw;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 3vh auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #FDF5E6;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.2);
}

#first header h1{
    font-size: 2.5vw;
    font-weight: normal;
}

#first header p:first-of-type{
    padding-top: 0.5em;
    font-size: 2vw;
}
#first header p:last-of-type{    
    font-size: 1vw;
    line-height: 2vw;
    text-align:right;
}

/* Scores */

#resultsContainer{
    margin-top: 30px;
}

#scores{
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    width: 20vw;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

td, th {
    padding: 6px;
    letter-spacing: 1px;
    white-space:nowrap;
    font-size: 1.5vh;
    color: #e6e0cd;
    text-align: center;
    border: 1px solid purple;
    border-collapse: collapse;
  }


/*  icons general*/
.icons{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: transparent;
}

.playersChoice{
    text-align: right;
    grid-column-start: 1;
}

.computersChoice{
    text-align: left;
    grid-column-start: 4;
}

.icons p{
    font-size: 1.5vw;
    color: white;
    padding-bottom: 1em;
    white-space: nowrap;
}

.icon-container{
    margin: 1em;
}

/* player icons */

.icon-container button{
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.iconImage{
    border-radius:50%;
    width: 100%;
}


/* comp icons */
.compContainer{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.compImage{
    max-width: 96px;
    width: 100%;
    border-radius: 50%;
}

#skip-button{
    display: block;
    margin: 0 auto;
    width: 30vh;
    font-family: arial;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 1.3rem;
    padding: 5px 10px 5px 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.6);
    letter-spacing: 0.1em;
}

/* Popup window */
#winner-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    z-index: 10000;
    background-color: purple;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#winner-text{
    text-align: center;
    font-size: 4rem;
    color: white;
    grid-column-start: 2;
    grid-column-end: span 3;
    padding-top: 10vh;
    text-transform: capitalize;
}

.popup-buttons{
    grid-row-start: 2;
    height: 15vh;
    border-radius: 8px;
    font-size: 1.5em;
    font-family: monospace, arial;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.6);
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    grid-column-start: 3
}

@media only screen and (max-width: 860px) {
  
    #first header h1{
        white-space: normal;
        font-size: 4vh;;
    }

    #resultsContainer{
        margin-top: 5vh;
    }

    #scores{
        position: static;
        margin: 0 auto;
        width: 25vw;
    }

    .icons{
        padding-top: 0px;
        margin-top: 5vh;
    }

    .icons p{
        font-size: 3vw;
    }

    #skip-button{
        margin: 4vh auto;
        font-size: 3vw;
    }

    #winner-container{
        padding-bottom: 80em;

    }
    #winner-text{
        font-size: 2em;
        padding-bottom: 3em;
    }

    .popup-buttons{
        height: 10vh;
    }
  }


/* ABOUT ME SECTION */

#second{
    background-color: #F5BD1F;
    min-height: 100vh;
    max-height: fit-content;
}

#personal-photo{
    box-sizing: border-box;
    padding: 0;
    height: 0;
    height: 100vh;
}

#containers{
    display: flex;
    align-items: center;
}

/* checkboxes */

.checkbox {
    padding-top: 2vh;
    margin: 2vh 2vw 2vh 2vh;
    display: block;
    font-weight: bold;
    font-size: 2.5vh;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #A77B0E;
    background: #FAE042;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
    border: #A77B0E solid 3px;
    margin: 2px;
}

input[type='checkbox'] {
    display:none;
  } 

.collapsible-content{
    max-height: 0vh;
    overflow: hidden;

    transition: max-height .50s ease-in-out;
}

.collapsible-content p{
    font-size: 2vh;
}

/* who checkbox */

#toggle:checked ~ .collapsible-content{
    max-height: 100vh;
}

/* what checkbox */

#toggle-what:checked ~ .collapsible-content{
    max-height: 100vh;
}

/* why checkbox */

#toggle-why:checked ~ .collapsible-content{
    max-height: 100vh;
}

/* why fc checkbox */

#toggle-why-fc:checked ~ .collapsible-content{
    max-height: 100vh;
}

#qa-buttons{
    white-space: nowrap;
    margin-left: -7vw;
}

@media only screen and (max-width: 860px) {
    #personal-image{
        display: none;
    }
    #containers{
        height: 100vh;
    }

    #qa-buttons{
        white-space: nowrap;
    }
    .btn-back{
        margin-right: 4vw;
    }
    
    .btn{
        margin-left: 4vw;
    }

}
/* MY JOURNEY SECTION */

#third{
    min-height: 100vh;
    height:max-content;
    background-color: #ff6f52; 
    top: -22px;
    padding: 22px;
}

.timeline{
    position: relative;
    margin: 0 auto;
}

 /* vertical line */
.timeline::after{
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

/* each entry container */
.timeline ul{
    position: relative;
    width: 40vw;
    font-size: 1.4vw;
    text-align: center;
    padding: 1rem;
    color: white;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    list-style-type: none;
    display: flex;
    margin: 2vw auto;
}

.container{
    position: absolute;
    left: -25%;
}

.container-right{  
   position: absolute;
   right: -25%;
}

.title{
    text-transform: uppercase;
    font-weight: bold;
}
 
 .content p:last-child{
     font-size: 1vw;
 }

 /* dots */
 .container::after{
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: white solid 3px;
    background-color: white;
    position: absolute;
    right: -12%;
    top: 10px;
 }

 /* dots-otherside */
 .container-right::after{
    content: "";
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: white solid 3px;
    background-color: white;
    position: absolute;
    left: -12%;
    top: 15px;
 }

.container span{
    position: absolute;
    display: block;
    right: -30%;
    top: 10px;
    font-size: 1.2vw;
}

.container-right span{
    display: block;
    position: absolute;
    left: -30%;
    font-size: 1.2vw;
}

#journey-buttons{
    position: relative;

}
@media only screen and (max-width: 1200px){
    .container::after{
        right: -11.5%;

    }
    .container-right::after{
        left: -11.5%;
    }

    .container span{
        right: -35%;
    }

    .container-right span{
        left: -35%;
    }
}

@media only screen and (max-width: 900px) {

    .timeline ul{
        padding: 0.4rem;
        font-size: 4vw; 
    }

    .content p:last-child{
        font-size: 0.7rem;
    }
    .container{
        position: absolute;
        left: -27%;
    }
    
    .container-right{  
       position: absolute;
       right: -27%;
    }

    .container::after{
        right: -16%
    }

    .container-right::after{
        left: -16%;
     }

     .container span{
        right: -60%;
        font-size: 2vw;
    }

    .container-right span{
        left: -60%;
        font-size: 2vw;
    }

    #journey-buttons{
        position: static;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
     .container span{
        font-size: 0.6rem;
        top: 2vh;
    }

    .container-right span{
        font-size: 0.6rem;
        top: 2vh;
    }
}



 /* FOURTH SECTION */

 #fourth{
     background-color: teal;
     height: 100vh;
 }

 #fourth-grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0,5fr 1fr 0.5fr 0,5fr 1fr;
    grid-template-rows: 20% 0.5fr 0.5fr auto auto;
    grid-gap: 15px 15px;
 }

 .empty-row{
    grid-column-start: 1;
    grid-column-end: span 7; 
    height: 10vh;
}

 #thank-you{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    font-style: italic;
    font-size: 3vw;
    color: white;
    text-align: center;
    margin-top: 25px;
    line-height: 3vw;
 }

 #contact-me{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    font-style:italic;
    text-align: center;
}

 #profile-pic-container{
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 3;
    grid-column-end: span 3;
    text-align: center;

 }
 #profile-pic{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    max-height: 100%;
    max-width: auto;
    height: 30vh;
 }

.website-links-container{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    text-align:center;
    display: flex;
    flex-direction:column;
}

.website-links{
    margin-top:5px;
}

#fcc-logo{
    height:2.5vh;
    margin-bottom: 10px;
}
#github-logo{
    height: 4vh;
}

@media only screen and (max-width: 860px) {
    #thank-you{
        font-size: 7vw;
        line-height: 7vw;
        margin-top: 10px;
    }
}